.provider-data {
    margin-bottom: 20px
}

.provider-data__label {
   text-align: right;
   width: 190px;
   padding: 5px 0;
   vertical-align: top;
}

.provider-data__value {
    padding: 5px 0 5px 20px;
    vertical-align: top;
 }